# IDEA
/.idea
/.DS_Store


# CACHE
backend/fax/apps/chat/migrations/__pycache__/
backend/fax/apps/chat/__pycache__/
backend/fax/apps/__pycache__/
backend/fax/apps/api/__pycache__/
backend/fax/apps/account/__pycache__/
